{
  "openapi": "3.0.3",
  "info": {
    "title": "Media Cloud API",
    "version": "1.0.0",
    "description": "Upload, list, fetch and delete media assets on Media Cloud.\n\nAll routes are mounted under `/api/v1` and authenticated with an API key sent as a Bearer token. Responses use the JSON:API media type, `application/vnd.api+json`: a resource is `{ id, type, attributes }` inside a `data` member, and lists add `links` and `meta` for pagination.",
    "contact": {
      "name": "Media Cloud",
      "url": "https://mediacloud.me"
    }
  },
  "servers": [
    {
      "url": "https://api.mediacloud.me",
      "description": "Media Cloud API"
    }
  ],
  "tags": [
    {
      "name": "Assets",
      "description": "Upload, retrieve, trash and permanently delete files."
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/v1/assets": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Get all assets",
        "operationId": "listAssets",
        "description": "Returns a paginated list of assets. Each page holds 24 assets by default; follow `links.next` or pass `page` to move through the results.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number (1-based).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of assets.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetCollection"
                },
                "example": {
                  "data": [
                    {
                      "id": "01a0bf37-4cae-71fa-be03-db13a3b10208",
                      "type": "assets",
                      "attributes": {
                        "name": "26385597.jpeg",
                        "type": "image",
                        "extension": "jpg",
                        "mime_type": "image/jpeg",
                        "size": 4052,
                        "folder_id": null,
                        "created_at": "2026-09-20T13:27:47.000000Z",
                        "updated_at": "2026-09-20T13:27:47.000000Z",
                        "width": 280,
                        "height": 280,
                        "duration_seconds": null,
                        "optimized_size": null,
                        "is_favourite": false,
                        "status": "ready",
                        "public_file_id": "57c93652-af07-4034-a12f-f5f3f9080752",
                        "url": "https://api.mediacloud.me/api/v1/files/57c93652-af07-4034-a12f-f5f3f9080752/content",
                        "thumbnail_url": "https://api.mediacloud.me/api/v1/files/57c93652-af07-4034-a12f-f5f3f9080752/content?variant=thumbnail",
                        "download_url": "https://api.mediacloud.me/api/v1/files/57c93652-af07-4034-a12f-f5f3f9080752/download"
                      }
                    }
                  ],
                  "links": {
                    "first": "https://api.mediacloud.me/api/v1/assets?page=1",
                    "last": "https://api.mediacloud.me/api/v1/assets?page=1",
                    "prev": null,
                    "next": null
                  },
                  "meta": {
                    "current_page": 1,
                    "from": 1,
                    "last_page": 1,
                    "path": "https://api.mediacloud.me/api/v1/assets",
                    "per_page": 24,
                    "to": 1,
                    "total": 1
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "Upload asset",
        "operationId": "uploadAsset",
        "description": "Uploads a single file. Send the request as `multipart/form-data` with the file in the `file` field. To upload several files at once, use [Bulk upload assets](/api-reference/assets/bulk-upload-assets).",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The file to upload."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The asset was created.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetResource"
                },
                "example": {
                  "data": {
                    "id": "01a0bfc8-04c4-73c6-9871-81930cdc3f18",
                    "type": "assets",
                    "attributes": {
                      "name": "Bonusantragstellung_MA-Empfehlung_EN.docx",
                      "type": "document",
                      "extension": "docx",
                      "mime_type": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                      "size": 35279,
                      "folder_id": null,
                      "created_at": "2026-09-20T17:05:51.000000Z",
                      "updated_at": "2026-09-20T17:05:51.000000Z",
                      "width": null,
                      "height": null,
                      "duration_seconds": null,
                      "optimized_size": null,
                      "is_favourite": null,
                      "status": "ready",
                      "public_file_id": "f1f12690-2fb7-4c4f-b3c4-d344b495b089",
                      "url": "https://api.mediacloud.me/api/v1/files/f1f12690-2fb7-4c4f-b3c4-d344b495b089/content",
                      "thumbnail_url": null,
                      "download_url": "https://api.mediacloud.me/api/v1/files/f1f12690-2fb7-4c4f-b3c4-d344b495b089/download"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v1/assets/bulk-upload": {
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "Bulk upload assets",
        "operationId": "bulkUploadAssets",
        "description": "Uploads several files in one request. Send `multipart/form-data` and repeat the `files[]` field once per file. The response lists the created assets.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "files[]"
                ],
                "properties": {
                  "files[]": {
                    "type": "array",
                    "description": "The files to upload. Repeat the field for each file.",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The assets were created.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Asset"
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "01a0bfd7-49e1-714e-b0dd-7106bf78dc60",
                      "type": "assets",
                      "attributes": {
                        "name": "innos_hr.csv",
                        "type": "document",
                        "extension": "csv",
                        "mime_type": "text/csv",
                        "size": 56211,
                        "folder_id": null,
                        "created_at": "2026-09-20T17:22:32.000000Z",
                        "updated_at": "2026-09-20T17:22:32.000000Z",
                        "width": null,
                        "height": null,
                        "duration_seconds": null,
                        "optimized_size": null,
                        "is_favourite": null,
                        "status": "ready",
                        "public_file_id": "99fb747a-e1dc-42e7-8399-43d0a269a2d9",
                        "url": "https://api.mediacloud.me/api/v1/files/99fb747a-e1dc-42e7-8399-43d0a269a2d9/content",
                        "thumbnail_url": null,
                        "download_url": "https://api.mediacloud.me/api/v1/files/99fb747a-e1dc-42e7-8399-43d0a269a2d9/download"
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v1/assets/{assetId}": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Get asset",
        "operationId": "getAsset",
        "description": "Returns a single asset by its `id`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AssetId"
          }
        ],
        "responses": {
          "200": {
            "description": "The asset.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetResource"
                },
                "example": {
                  "data": {
                    "id": "01a0bf37-4cae-71fa-be03-db13a3b10208",
                    "type": "assets",
                    "attributes": {
                      "name": "26385597.jpeg",
                      "type": "image",
                      "extension": "jpg",
                      "mime_type": "image/jpeg",
                      "size": 4052,
                      "folder_id": null,
                      "created_at": "2026-09-20T13:27:47.000000Z",
                      "updated_at": "2026-09-20T13:27:47.000000Z",
                      "width": 280,
                      "height": 280,
                      "duration_seconds": null,
                      "optimized_size": null,
                      "is_favourite": false,
                      "status": "ready",
                      "public_file_id": "57c93652-af07-4034-a12f-f5f3f9080752",
                      "url": "https://api.mediacloud.me/api/v1/files/57c93652-af07-4034-a12f-f5f3f9080752/content",
                      "thumbnail_url": "https://api.mediacloud.me/api/v1/files/57c93652-af07-4034-a12f-f5f3f9080752/content?variant=thumbnail",
                      "download_url": "https://api.mediacloud.me/api/v1/files/57c93652-af07-4034-a12f-f5f3f9080752/download"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v1/assets/bulk-trash": {
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "Bulk trash assets",
        "operationId": "bulkTrashAssets",
        "description": "Moves several assets to the trash in one request. Trashing is the soft-delete step; to remove assets for good, use [Bulk delete assets](/api-reference/assets/bulk-delete-assets).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkAssetIds"
              },
              "example": {
                "asset_ids": [
                  "01a0bd9a-ddf1-70f7-ab61-b73fe0c35428"
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "The assets were moved to the trash. The response has no body."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v1/assets/bulk-permanent": {
      "delete": {
        "tags": [
          "Assets"
        ],
        "summary": "Bulk delete assets",
        "operationId": "bulkDeleteAssets",
        "description": "Permanently deletes several assets in one request. This cannot be undone.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkAssetIds"
              },
              "example": {
                "asset_ids": [
                  "01a0bd9a-ddf1-70f7-ab61-b73fe0c35428"
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "The assets were permanently deleted. The response has no body."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Your API key as a Bearer token: `Authorization: Bearer YOUR_API_KEY`."
      }
    },
    "parameters": {
      "AssetId": {
        "name": "assetId",
        "in": "path",
        "required": true,
        "description": "The asset's `id`.",
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "example": "01a0bf37-4cae-71fa-be03-db13a3b10208"
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "The API key is missing or invalid."
      }
    },
    "schemas": {
      "BulkAssetIds": {
        "type": "object",
        "required": [
          "asset_ids"
        ],
        "properties": {
          "asset_ids": {
            "type": "array",
            "description": "The `id` of each asset to act on.",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          }
        }
      },
      "Asset": {
        "type": "object",
        "description": "A JSON:API resource object for a stored file.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the asset."
          },
          "type": {
            "type": "string",
            "enum": [
              "assets"
            ],
            "description": "The JSON:API resource type."
          },
          "attributes": {
            "$ref": "#/components/schemas/AssetAttributes"
          }
        }
      },
      "AssetAttributes": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The file name."
          },
          "type": {
            "type": "string",
            "description": "The asset category, for example `image` or `document`."
          },
          "extension": {
            "type": "string",
            "description": "The file extension detected for the stored file."
          },
          "mime_type": {
            "type": "string",
            "description": "The MIME type detected for the stored file."
          },
          "size": {
            "type": "integer",
            "description": "File size in bytes."
          },
          "folder_id": {
            "type": "string",
            "nullable": true,
            "description": "The containing folder's id, or `null` when the asset is not in a folder."
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "width": {
            "type": "integer",
            "nullable": true,
            "description": "Width in pixels. `null` for non-visual files."
          },
          "height": {
            "type": "integer",
            "nullable": true,
            "description": "Height in pixels. `null` for non-visual files."
          },
          "duration_seconds": {
            "type": "number",
            "nullable": true,
            "description": "Duration in seconds for audio and video. `null` otherwise."
          },
          "optimized_size": {
            "type": "integer",
            "nullable": true,
            "description": "Size in bytes of the optimized version, when one exists."
          },
          "is_favourite": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether the asset is marked as a favourite. `null` on responses to uploads."
          },
          "status": {
            "type": "string",
            "description": "Processing status. `ready` means the asset can be served.",
            "example": "ready"
          },
          "public_file_id": {
            "type": "string",
            "format": "uuid",
            "description": "Identifier used in the asset's file URLs."
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL that serves the file content."
          },
          "thumbnail_url": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "URL of the thumbnail variant. `null` when the asset has no thumbnail."
          },
          "download_url": {
            "type": "string",
            "format": "uri",
            "description": "URL that downloads the file."
          }
        }
      },
      "AssetResource": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Asset"
          }
        }
      },
      "AssetCollection": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Asset"
            }
          },
          "links": {
            "type": "object",
            "properties": {
              "first": {
                "type": "string",
                "format": "uri"
              },
              "last": {
                "type": "string",
                "format": "uri"
              },
              "prev": {
                "type": "string",
                "format": "uri",
                "nullable": true
              },
              "next": {
                "type": "string",
                "format": "uri",
                "nullable": true
              }
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "current_page": {
                "type": "integer"
              },
              "from": {
                "type": "integer",
                "nullable": true
              },
              "last_page": {
                "type": "integer"
              },
              "path": {
                "type": "string",
                "format": "uri"
              },
              "per_page": {
                "type": "integer"
              },
              "to": {
                "type": "integer",
                "nullable": true
              },
              "total": {
                "type": "integer"
              }
            }
          }
        }
      }
    }
  }
}
